<body>
    <section class="py-4">
        <div class="container">
            <div class="row row-cols-6 g-2">
                {{#areas}}
                <div class="col">
                    <a href="?area={{id}}">
                        <img src="/img/flags/{{id}}.png" class="img-thumbnail" alt="{{name}} Flag">
                    </a>
                </div>
                {{/areas}}
                {{^areas}}
                    <p>No areas avaible at the moment</p>
                {{/areas}}
            </div>
        </div>
    </section>
</body>

