<!DOCTYPE html>
<html lang="en_US">
<head>
    <link rel="stylesheet" href="/css/aboutUs.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>About us</title>
</head>
<body>
    {{>navbar}}

    <div class="content">
        <img class="img-fluid w-100" src="/img/vegetables.jpg" alt="vegetables' image">

        <div class="jumbotron jumbotron-fluid text-black py-3 my-5">
            <div class="container">
                <h2 class="display-4">About Us</h2>
                <p class="lead">
                    My Cuisine Pal is a culinary haven where enthusiasts explore diverse recipes from around the globe.
                    Whether you're a cooking novice or an advanced chef, we curate a wide range of recipes to suit your skill level.
                    Embark on a flavorful journey with My Cuisine Pal, your go-to destination for culinary inspiration.
                </p>
            </div>
        </div>
        <div class="jumbotron jumbotron-fluid text-black py-3 my-5">
            <div class="container">
                <h2 class="display-4">Background</h2>
                <p class="lead">
                    My Cuisine Pal is a recipes website that utilizes APIs made as a school project for the discipline of
                    <b>Programação e Integração de Serviços</b>, lectured by the teacher
                    <b>Bruno Pereira</b>
                    <br><br>
                    Made by the students:<br>
                    <div class="student-info">
                        <div class="student">
                            <span>Diogo Veigas</span>
                            <span>Number: 202200879</span>
                        </div>
                        <div class="student">
                            <span>Andre Carvalho</span>
                            <span>Number: 202200878</span>
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>