<!DOCTYPE html>
<html lang="en_US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
</head>
<body>
    {{>backnavbar}}

    <div class="container content border p-3">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ingredient.image}}" class="img-fluid mb-4" alt="{{ingredient.name}} Image">
            </div>
            <div class="col-md-6">
                <h2>{{recipe.name}}</h2>
                <p><strong>Id:</strong> {{ingredient.id}}</p>
                <p><strong>Name:</strong> {{ingredient.name}}</p>
                <p><strong>Description:</strong> {{ingredient.description}}</p>
                <p><strong>Image URL:</strong> {{ingredient.image}}</p>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>
