<!DOCTYPE html>
<html lang="en_US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="/js/auxIngredients.js" defer></script>
    <title>{{title}}</title>
</head>
{{>backnavbar}}

    <section class="py-4 content d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <!-- Card for Login Form -->
                    <div class="card" id="ingredientCard">
                        <div class="card-body">
                            <form id="ingredientForm" action="/ingredientForm" method="post" class="needs-validation">
                                <div class="mb-3">
                                    <label for="name"  class="form-label">Name</label>
                                    <input type="text" class="form-control" id="name" name="name" value="{{ingredient.name}}" required>
                                    <div class="invalid-feedback">
                                        Please enter the ingredient name.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="description" class="form-label">Description</label>
                                    <textarea type="text" class="form-control" id="description" name="description" >{{ingredient.description}}</textarea>

                                </div>
                                <div class="mb-3">
                                    <label for="image" class="form-label">Image URL</label>
                                    <input type="text" class="form-control" id="image" name="image" value="{{ingredient.image}}">
                                    <img id="imagePreview" src="{{ingredient.image}}" alt="Image Preview" style="max-width: 100px; margin-top: 5px;">
                                </div>
                                <button class="btn btn-primary" type="submit">Submit Ingredient</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>          
    {{>footer}}
</body>
</html>
