<!DOCTYPE html>
<html lang="en_US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
</head>
{{>backnavbar}}

    <section class="py-4 content d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <!-- Card for Login Form -->
                    <div class="card" id="createIngredientCard">
                        <div class="card-body">
                            <h2>{{pageTitle}}</h2>
                            <form id="createForm" action="/createIngredient" method="post" class="needs-validation">
                                <div class="mb-3">
                                    <label for="name"  class="backform-label">Name:</label>
                                    <input type="text" class="backform-control" id="name" name="name" required>
                                    <div class="invalid-feedback">
                                        Please enter the ingredient name.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="description" class="backform-label">Description:</label>
                                    <input type="text" class="backform-control" id="description" name="description">
                                </div>
                                <div class="mb-3">
                                    <label for="image" class="backform-label">Image URL:</label>
                                    <input type="text" class="backform-control" id="image" name="image">
                                </div>
                                <button type="submit">Create Ingredient</button>
                            </form>
                        </div>
                    </div>

                    <!-- Edit Form-->
                    <div class="card d-none" id="editIngredientCard">
                        <div class="card-body">
                            <form id="editForm" action="/editIngredient" method="post">
                                <!-- Input fields for edit form -->
                                <label for="id">ID:</label>
                                <input type="text" id="id" name="id" readonly>
                                
                                <label for="name">Name:</label>
                                <input type="text" id="name" name="name" required>
                                <div class="invalid-feedback">
                                    Please enter the ingredient name.
                                </div>

                                <label for="description">Description:</label>
                                <input type="text" id="description" name="description" required>

                                <label for="image">Image URL:</label>
                                <input type="text" id="image" name="image">

                                <button type="submit">Save Changes</button>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>          
    {{>footer}}
</body>
</html>
