<!DOCTYPE html>
<html lang="en_US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/backRecipes.css">
    <script defer src="/js/dynamicIngredientSearch.js"></script>
    <script defer src="/js/auxRecipes.js"></script>
    <script defer src="/js/imagePreview.js"></script>
    <script src="/js/redirects/backoffice.js"></script>
    <title>Recipes List</title>
</head>

<body id="container" class="d-none" onLoad="imagePreview('image', 'imagePreview'); updateSearchBar()">
    {{>backNavbar}}

    <div class="content">
        <div class="container mt-5">
            <h1 class="mb-4">Recipes</h1>
            <div class="row">
                <div class="col-3">
                    <a class="btn btn-primary mt-1 mb-3" href="javascript:openAddRecipeModal()" role="button">Create new
                        recipe</a>
                </div>
                <div class="col-9">
                    <form id="formSearch">
                        <div class="input-group">
                            <input id="searchInput" type="text" class="form-control" name="name"
                                placeholder="Search for recipes...">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="table-responsive" style="max-height: 25rem; overflow-y: auto;">
                <table class="table justify-content-center" id="recipesTable">
                    <thead>
                        <tr class="text-center">
                            <th><a id="idSort" href="javascript:void(0);">#</a></th>
                            <th><a id="nameSort" href="javascript:void(0);">Name</a></th>
                            <th>Image</th>
                            <th><a id="categorySort" href="javascript:void(0);">Category</a></th>
                            <th><a id="areaSort" href="javascript:void(0);">Area</a></th>
                            <th><a id="authorSort" href="javascript:void(0);">Author</a></th>
                            <th><a id="difficultySort" href="javascript:void(0);">Difficulty</a></th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#recipes}}
                        <tr>
                            <td class="text-center align-middle">{{id}}</td>
                            <td class="text-center align-middle text-truncate maxNameSize" 
                                data-toggle="tooltip" title="{{name}}">{{name}}</td>
                            <td class="text-center align-middle">
                                <img src="{{image}}" alt="Recipe Image" class="img-thumbnail" style="max-width: 100px;">
                            </td>
                            <td class="text-center align-middle">{{category.name}}</td>
                            <td class="text-center align-middle">{{area.name}}</td>
                            <td class="text-center align-middle">{{author.username}}</td>
                            <td class="text-center align-middle">{{difficulty.name}}</td>
                            <td class="text-center align-middle">
                                <a href="javascript:openRecipeDetailsModal({{id}});" class="mr-2"><i
                                        class="bi bi-eye-fill h3"></i></a>
                                <a href="javascript:openEditRecipeModal({{id}})" class="mr-2"><i
                                        class="bi bi-pencil-fill text-warning h3"></i></a>
                                <a href="javascript:openDeleteModal('{{id}}', '{{name}}')" class="mr-2">
                                    <i class="bi bi-trash3 text-danger h3"></i>
                                </a>
                            </td>
                        </tr>
                        {{/recipes}}
                        {{^recipes}}
                        <tr>
                            <td colspan="4">No recipes available at the moment.</td>
                        </tr>
                        {{/recipes}}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Ingredient details modal -->
        <div class="modal fade" id="recipeDetailsModal" tabindex="-1" aria-labelledby="recipeDetailsModal"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Recipe Details</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="" id="recipeImage" class="img-fluid mb-4" alt="">
                            </div>
                            <div class="col-md-6">
                                <p><strong>Id:</strong> <span id="recipeId"></span></p>
                                <p><strong>Name:</strong> <span id="recipeName"></span></p>
                                <p><strong>Category:</strong> <span id="recipeCategory"></span></p>
                                <p><strong>Area:</strong> <span id="recipeArea"></span></p>
                                <p><strong>PreparationTime:</strong> <span id="recipePreparationTime"></span></p>
                                <p><strong>Difficulty:</strong> <span id="recipeDifficulty"></span></p>
                                <p><strong>Author:</strong> <span id="recipeAuthor"></span></p>
                                <p><strong>Cost:</strong> <span id="recipeCost"></span></p>
                                <p><strong>Description:</strong> <span id="recipeDescription"></span></p>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <h4>Preparation:</h4>
                                <ul id="recipePreparation"></ul>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <h3>Ingredients</h3>
                                <div class="row" id="recipeIngredientsList">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <p><strong>Image URL:</strong> <span id="recipeImageURL"></span></p>
                                <p>Share this recipe: <a href="javascript:void(0);" id="copyLink">Copy Link</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Recipe form modal -->
        <div class="modal fade" id="recipeFormModal" data-bs-backdrop="static" tabindex="-1"
            aria-labelledby="recipeFormModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5"><span id="activityTitle">Add an Recipe</span></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row justify-content-center">
                            <form id="recipeForm" action="/recipe/create/" method="post" class="needs-validation row">
                                <div class="col-6">
                                    <!-- Ingredients -->
                                    <div class="mb-3 border p-3">
                                        <img id="imagePreview" src="" alt="" class="img-fluid img-thumbnail mb-3">
                                        <label for="ingredients" class="form-label">Ingredients</label>
                                        <input type="text" class="form-control" id="ingredientInput"
                                            placeholder="Enter the ingredient name">
                                        <div class="invalid-feedback">
                                            Please enter the ingredients.
                                        </div>
                                        <div id="ingredientSuggestions" class="list-group mt-2"></div>

                                        <!-- Selected Ingredients Table -->
                                        <table class="table border" id="selectedIngredients">
                                            <tbody>
                                                <!-- Selected ingredients will be added dynamically here -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card" id="recipeCard">
                                        <div class="card-body">
                                            <!-- Recipe Name -->
                                            <div class="mb-3">
                                                <label for="recipeNameForm" class="form-label">Name</label>
                                                <input type="text" class="form-control" id="recipeNameForm"
                                                    name="recipeNameForm" placeholder="Enter the recipe name" required>
                                                <div class="invalid-feedback">
                                                    Please enter the recipe name.
                                                </div>
                                            </div>
                                            <div class="row">
                                                <!-- Category -->
                                                <div class="mb-3 col-md-6">
                                                    <label for="recipeCategoryForm" class="form-label">Category</label>
                                                    <select class="form-select" id="recipeCategoryForm"
                                                        name="recipeCategoryForm" required>
                                                        <option value="" disabled selected>Select one</option>
                                                        {{#categories}}
                                                            <option value="{{id}}">{{name}}</option>
                                                        {{/categories}}
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Please select a category.
                                                    </div>
                                                </div>
                                                <!-- Area -->
                                                <div class="mb-3 col-md-6">
                                                    <label for="recipeAreaForm" class="form-label">Area</label>
                                                    <select class="form-select" id="recipeAreaForm"
                                                        name="recipeAreaForm" required>
                                                        <option value="" disabled selected>Select one</option>
                                                        {{#areas}}
                                                            <option value="{{id}}">{{name}}</option>
                                                        {{/areas}}
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Please select an area.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <!-- Preparation Time -->
                                                <div class="mb-3 col">
                                                    <label for="recipePreparationTimeForm"
                                                        class="form-label">Preparation Time</label>
                                                    <input type="number" class="form-control"
                                                        id="recipePreparationTimeForm" name="recipePreparationTimeForm"
                                                        placeholder="In minutes" min="1" required>
                                                    <div class="invalid-feedback">
                                                        Please enter the preparation time.
                                                    </div>
                                                </div>

                                                <!-- Difficulty -->
                                                <div class="mb-3 col">
                                                    <label for="recipeDifficultyForm"
                                                        class="form-label">Difficulty</label>
                                                    <select class="form-select" id="recipeDifficultyForm"
                                                        name="recipeDifficultyForm" required>
                                                        <option value="" disabled selected>Select one</option>
                                                        {{#difficulties}}
                                                            <option value="{{id}}">{{name}}</option>
                                                        {{/difficulties}}
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Please select a difficulty level.
                                                    </div>
                                                </div>

                                                <!-- Cost -->
                                                <div class="mb-3 col">
                                                    <label for="recipeCostForm" class="form-label">Cost €</label>
                                                    <input type="number" class="form-control" id="recipeCostForm"
                                                        name="recipeCostForm" placeholder="Enter cost" min="1" required>
                                                    <div class="invalid-feedback">
                                                        Please enter the cost.
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Recipe Image URL -->
                                            <div class="mb-3">
                                                <label for="image" class="form-label">Recipe Image URL</label>
                                                <input type="url" class="form-control" id="image" name="image"
                                                    placeholder="Enter the URL of the recipe image">
                                                <div class="invalid-feedback">
                                                    Please enter a valid image URL.
                                                </div>
                                            </div>

                                            <!-- Description -->
                                            <div class="mb-3">
                                                <label for="recipeDescriptionForm"
                                                    class="form-label">Description</label>
                                                <textarea class="form-control" id="recipeDescriptionForm"
                                                    name="recipeDescriptionForm"
                                                    placeholder="Enter the recipe description"></textarea>
                                                <div class="invalid-feedback">
                                                    Please enter the recipe description.
                                                </div>
                                            </div>

                                            <!-- Preparation Description -->
                                            <div class="mb-3">
                                                <label for="recipePreparationDescription" class="form-label">Preparation
                                                    Description</label>
                                                <textarea class="form-control" id="recipePreparationDescription"
                                                    name="recipePreparationDescription"
                                                    placeholder="Enter the preparation description" required></textarea>
                                                <div class="invalid-feedback">
                                                    Please enter the preparation description.
                                                </div>
                                            </div>
                                            <div class="mb-3 alert alert-danger d-none" id="recipeError"></div>
                                            <button type="submit" class="btn btn-primary" id="submitRecipeButton">Submit
                                                Recipe</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Delete modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Confirm delete</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete <span id="deleteModalName"></span>?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" id="confirmDeletion"
                            data-bs-dismiss="modal">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
        {{>toast}}
    </div>
{{>footer}}
</body>
</html>