<!DOCTYPE html>
<html lang="en_US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
</head>
<body>
    {{>backNavbar}}

    <table>
        <tr>
            <th>Name</th>
            <th>Custo</th>
        </tr>
        {{#recipes}}
        <tr>
            <td>{{name}}</td>
            <td>{{custo}}</td>
        </tr>
        {{/recipes}}
    </table>

    {{>footer}}
</body>
</html>
