<!DOCTYPE html>
<html lang="en_US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="/js/redirects/backoffice.js"></script>
    <title>Recipes List</title>
</head>
<body>
    {{>backNavbar}}

    <table id="container" class="d-none">
        <tr>
            <th>Name</th>
            <th>Custo</th>
        </tr>
        {{#recipes}}
        <tr>
            <td>{{name}}</td>
            <td>{{custo}}</td>
        </tr>
        {{/recipes}}
    </table>

    {{>footer}}
</body>
</html>
