<!DOCTYPE html>
<html lang="en_US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
</head>
<body>
    {{>navbar}}

    <div class="container content border p-3">
        <div class="row">
            <div class="col-md-6">
                <img src="{{recipe.image}}" class="img-fluid mb-4" alt="{{recipe.name}} Image">
            </div>
            <div class="col-md-6">
                <h2>{{recipe.name}}</h2>
                <p><strong>Category:</strong> {{recipe.category.name}}</p>
                <p><strong>Area:</strong> {{recipe.area.name}}</p>
                <p><strong>Preparation Time:</strong> {{recipe.preparationTime}}</p>
                <p><strong>Difficulty:</strong> {{recipe.difficulty.name}}</p>
                <p><strong>Author:</strong> {{recipe.author.username}}</p>
                <p><strong>Cost:</strong> {{recipe.cost}}</p>
                <p><strong>Description:</strong> {{recipe.description}}</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <h3>Preparation</h3>
                <p>{{recipe.preparationDescription}}</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <h3>Ingredients</h3>
                <div class="row">
                    {{#recipe.ingredients}}
                    <div class="col-md-4 mb-3">
                        <div class="list-group-item">
                            <div class="row align-items-center border">
                                <div class="col-md-4">
                                    <img src="{{ingredient.image}}" class="img-fluid" alt="{{ingredient.name}} Image">
                                </div>
                                <div class="col-md-8">
                                    <strong>{{ingredient.name}}</strong>
                                    <p>{{quantity}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/recipe.ingredients}}
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>
</html>
